:root {
    --my-blue: #002e4f;
    --my-blue-transp: #002e4f5a;
    --my-light-blue: #15616d;
    --my-light-blue-transp: #15616d5a;
    --my-dark-blue: #002036;
    --my-yellow: #ffb66c;
    --my-yellow-transp: #ffb66c5a;
    --my-orange: #ff7d00;
    --my-red: #78290f;
    --my-red-shadow: #321207;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, black, black);
    color: white;
}

/*
NAVBAR SECTION
*/

.nav-item {
    position: relative;
}

.navbar {
    background-color: var(--my-red);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.712);
    min-height: 90px;
}

.navbar * {
    font-family: "Montserrat", sans-serif;
}

.navbar ul .nav-link {
    color: white;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

@media (width < 768px) {
    .navbar {
        /*
        background-color: transparent;
        box-shadow: none;
        */
        min-height: 90px;
    }

    .navbar .navbar-brand {
        min-height: 90px;
        /*
        background-image: repeating-linear-gradient(45deg,
                transparent,
                transparent 5px,
                var(--my-red) 5px,
                var(--my-red) 15px,
                transparent 15px,
                transparent 20px,
                var(--my-yellow) 20px,
                var(--my-yellow) 30px);
        border-radius: 20%;
        */
    }

}


@media (width >=992px) {
    .navbar ul li:nth-child(3) {
        background-color: var(--my-yellow);
        transform: skewX(25deg);
    }

    .navbar ul li:nth-child(3) img {
        padding: 1em;
        transform: skewX(-25deg);
    }
}

.navbar .img-fluid {
    max-height: 15vh !important;
    min-height: 80px !important;
}

.navbar ul .nav-item:not(:nth-child(3)) .nav-link:hover {
    transform: translateY(-2px) scale(1.05, 1.05);
    transition: transform 300ms;
    text-shadow: 0 0 0.3em var(--my-yellow);
}

/*
END OF NAVBAR SECTION
*/

/*
CARDS SECTION
*/

.lead {
    color: #aaa;
}

.wrapper {
    margin: 10vh
}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }

    &.card-has-bg,
    .card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                padding: 0;
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(255, 186, 33);
                background: linear-gradient(0deg, rgba(255, 186, 33, 0.5) 0%, rgba(255, 186, 33, 1) 100%);
            }
        }
    }

    .card-footer {
        background: none;
        border-top: none;

    }

    .card-title {
        font-weight: 800
    }

    .card-meta {
        color: rgba(0, 0, 0, 0.6);
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
    }

    small {
        color: rgba(0, 0, 0, 0.4);
    }

    .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
        .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .card-img-overlay {
        padding: 0;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(255, 186, 33);
        background: linear-gradient(0deg, rgba(255, 186, 33, 0.3785889355742297) 0%, rgba(255, 186, 33, 1) 100%);
    }
}

@media (max-width: 767px) {}

.empty {
    height: 20vh;
}

.card-footer .play-btn {
    font-family: "Montserrat", sans-serif;
    background-color: var(--my-light-blue);
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    border: 0;

    &:hover {
        box-shadow: 0 0 0.3em black;
        font-weight: 900;
        background-color: var(--my-blue);
    }
}

.card-flip>div {
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
    border: 0 !important;
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--my-red);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    font-family: "Lato", "Montserrat", sans-serif;
    padding: 2em;
}

.card-footer {
    position: absolute;
    bottom: 1em;
    left: auto;
}

/*
END OF CARDS SECTION
*/

/*
PROGRESS BAR FOOTER SECTION
*/

.progress-footer {
    display: none;
}

.progress-container * {
    margin: 0;
}

.progress-container {
    position: fixed;
    z-index: 100;
    background-color: var(--my-red);
    height: 5em;
    bottom: 1em;
    border-radius: 3rem;
    box-shadow: 0.2em 0.2em 0.1em black;
}

.progress-container p,
.playing-title {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: small;
}

.progress-container p {
    color: var(--my-dark-blue);
}

.playing-title {
    color: white;
}

.progress-container .progress {
    width: 80%;
}

.progress-container .play-btn {
    position: absolute;
    top: auto;
    left: 1.5em;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--my-orange);
    color: white;
    line-height: 0px;

    &:hover {
        height: 45%;
    }
}

.progress .progress-bar {
    background-color: var(--my-red);
}

.progress-container .elapsed-counters {
    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.75em;
}

/*
END OF PROGRESS BAR FOOTER SECTION
*/

/*
PROGRESS BAR RESTYLING
*/

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--my-light-blue);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: var(--my-light-blue);
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--my-light-blue);
}

input[type=range]::-ms-fill-upper {
    background: var(--my-light-blue);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}